# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user data
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode build artifacts
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM
*.hmap
*.moved-aside

# Xcode playground
*.playground/timeline.xctimeline
*.playground/playground.xcworkspace

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
